<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Smart Home</title>
     <link rel="stylesheet" href="{{ url_for("static",filename = "style.css") }}">
    <script src="{{ url_for('static',filename="api.js") }}"></script>
</head>
<body class="login-page">
    <header class="background-header">
        <h1>Reset Your Password</h1>
    </header>

    <div class="login-container">
        <form onsubmit="return forget_password()" id="forget_password_form" class="forgot-password-form">
            <h2>Forgot Password</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="old-password">Your Old Password</label>
                <input type="password" id="old-password" name="old-password" required>
            </div>
            <div class="input-group">
                <label for="new-password">Your New Password</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="input-group">
                <label for="confirm-new-password">Confirm Your New Password</label>
                <input type="password" id="confirm-new-password" name="confirm-new-password" required>
            </div>
            <button type="submit" class="login-btn">Submit</button>
            <div class="options">
                <a href="/login">Back to Login</a>
            </div>
        </form>
    </div>
</body>
</html>
